######################## runtime env ########################

TZ=UTC

# api endpoint
API_SERVER_ENDPOINT=http://localhost:8000
API_SERVER_BASE_PATH=/api/v1

########################  build env  ########################

# base path in browser route
NEXT_PUBLIC_BASE_PATH=

# default theme
NEXT_PUBLIC_DEFAULT_THEME=light

# default locale
NEXT_PUBLIC_DEFAULT_LOCALE=en-US